@model IEnumerable<BloodBank.Models.DonationCenter>

<h2>Donation Centers</h2>

<table>
    <thead>
        <tr>
            <th>| ID |</th>
            <th>| Area |</th>
            <th>| Address |</th>
            <th>| Blood Types Available |</th>
            <th>| Actions |</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var center in Model)
        {
            <tr>
                <td>| @center.Id |</td>
                <td>| @center.Area |</td>
                <td>@center.AddressLine1, @center.AddressLine2, @center.PostalCode</td>
                <td>
                    <ul>
                        @foreach (var bloodType in center.BloodTypes)
                        {
                            <li>@bloodType.Type - @bloodType.StockLevel - @bloodType.AvailabilityStatus</li>
                        }
                    </ul>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { Id = center.Id })">Details</a> |
                    <a href="@Url.Action("Edit", new { Id = center.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { Id = center.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Add New Donation Center</a>

