@model IEnumerable<BloodBank.Models.BloodTypeInfo>

<h2>Blood Types for : @Model.FirstOrDefault()?.Area, @Model.FirstOrDefault()?.Id</h2>

<table>
    <thead>
        <tr>
            <th>Blood Type</th>
            <th>Stock Level</th>
            <th>Availability Status</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bloodType in Model)
        {
            <tr>
                <td>@bloodType.Type</td>
                <td>@bloodType.StockLevel</td>
                <td>@bloodType.AvailabilityStatus</td>
                <td>@bloodType.LastUpdated</td>
                <td>
                    <a href="@Url.Action("Details", new { Id = bloodType.Id, bloodTypeId = bloodType.Type })">Details</a> |
                    <a href="@Url.Action("Edit", new { Id = bloodType.Id, bloodTypeId = bloodType.Type })">Edit</a> |
                    <a href="@Url.Action("UpdateStockLevel", new { Id = bloodType.Id, bloodTypeId = bloodType.Type })">Update Stock Levels</a> |
                    <a href="@Url.Action("Delete", new { id = bloodType.Id, bloodTypeId = bloodType.Type })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "BloodType", new { @Model.FirstOrDefault()?.Id })" class="btn btn-primary">Add Blood Type</a>